networks:
  shared-database-network:
    external: true

  shared-ingress-network:
    external: true

services:
  {{ postgres_container }}:
    image: "{{ container_images.database.postgres.repo }}:{{ container_images.database.postgres.tag }}"
    container_name: {{ postgres_container }}
    restart: always
    networks:
      - shared-database-network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=${TIME_ZONE}
    volumes:
      - ${POSTGRESQL_DATA_PATH}:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  adminer:
    image: "{{ container_images.database.adminer.repo }}:{{ container_images.database.adminer.tag }}"
    container_name: adminer
    restart: unless-stopped
    networks:
      - shared-database-network
      - shared-ingress-network