{% for db in postgres_databases %}

DO $$
BEGIN
    IF NOT EXISTS (
        SELECT FROM pg_roles WHERE rolname = '{{ db.user }}'
    ) THEN
        CREATE ROLE "{{ db.user }}" LOGIN PASSWORD '{{ db.password | trim | replace("'", "''") }}';
    END IF;
END
$$;

ALTER ROLE "{{ db.user }}" WITH PASSWORD '{{ db.password | trim | replace("'", "''") }}';

SELECT 'CREATE DATABASE "{{ db.name }}" OWNER "{{ db.user }}"'
WHERE NOT EXISTS (
    SELECT FROM pg_database WHERE datname = '{{ db.name }}'
)\gexec

DO $$
BEGIN
    IF EXISTS (
        SELECT 1
        FROM pg_database d
        JOIN pg_roles r ON r.oid = d.datdba
        WHERE d.datname = '{{ db.name }}'
        AND r.rolname <> '{{ db.user }}'
    ) THEN
        BEGIN
            EXECUTE 'ALTER DATABASE "{{ db.name }}" OWNER TO "{{ db.user }}"';
        EXCEPTION
            WHEN OTHERS THEN
                RAISE NOTICE 'Could not change owner of {{ db.name }} (probably active connections)';
        END;
    END IF;
END
$$;

GRANT ALL PRIVILEGES ON DATABASE "{{ db.name }}" TO "{{ db.user }}";

{% endfor %}