TIME_ZONE={{ TIME_ZONE }}
PUID={{ PUID }}
PGID={{ PGID }}

IPERF3_PORT={{ IPERF3_PORT }}

GATUS_PATH={{ GATUS_PATH }}

PROMETHEUS_PATH={{ PROMETHEUS_PATH }}
ALERTMANAGER_PATH={{ ALERTMANAGER_PATH }}

GRAFANA_PATH={{ GRAFANA_PATH }}
GRAFANA_CONFIG_PATH={{ GRAFANA_CONFIG_PATH }}
GRAFANA_DATA_PATH={{ GRAFANA_DATA_PATH }}
GRAFANA_PROVISIONING_PATH={{ GRAFANA_PROVISIONING_PATH }}
GRAFANA_DASHBOARDS_PATH={{ GRAFANA_DASHBOARDS_PATH }}

LOKI_PATH={{ LOKI_PATH }}

PROMTAIL_PATH={{ PROMTAIL_PATH }}

GRAFANA_ADMIN_USER={{ GRAFANA_ADMIN_USER }}
GRAFANA_ADMIN_PASSWORD={{ GRAFANA_ADMIN_PASSWORD }}

ADGUARD_EXPORTER_ADMIN_USER={{ ADGUARD_EXPORTER_ADMIN_USER }}
ADGUARD_EXPORTER_ADMIN_PASSWORD={{ ADGUARD_EXPORTER_ADMIN_PASSWORD }}

POSTGRES_EXPORTER_USER={{ POSTGRES_EXPORTER_USER }}
POSTGRES_EXPORTER_PASSWORD={{ POSTGRES_EXPORTER_PASSWORD }}