GITEA_DB_HOST={{ GITEA_POSTGRES_DB.HOST }}:{{ GITEA_POSTGRES_DB.PORT }}
GITEA_DB_NAME={{ GITEA_POSTGRES_DB.NAME }}
GITEA_DB_USER={{ GITEA_POSTGRES_DB.USER }}
GITEA_DB_PASSWORD={{ GITEA_POSTGRES_DB.PASSWORD }}

GITEA_DATA_PATH={{ GITEA_DATA_PATH }}

GITEA__SERVER__ROOT_URL={{ GITEA__SERVER__ROOT_URL }}
GITEA__SERVER__DOMAIN={{ GITEA__SERVER__DOMAIN }}
GITEA__SERVER__SSH_DOMAIN={{ GITEA__SERVER__SSH_DOMAIN }}
GITEA_SSH_PORT={{ GITEA_SSH_PORT }}

REGISTRY_REVERSE_PROXY_URL={{ REGISTRY_REVERSE_PROXY_URL }}
REGISTRY_SERVER_DATA={{ REGISTRY_SERVER_DATA }}

JENKINS_PORT={{ JENKINS_PORT }}
JENKINS_HOME_PATH={{ JENKINS_HOME_PATH }}
JENKINS_URL={{ JENKINS_URL }}"

TIME_ZONE={{ TIME_ZONE }}
PUID={{ PUID }}
PGID={{ PGID }}