location = /authelia {
    internal;
    proxy_pass http://authelia:9091/api/verify;
    proxy_set_header Host $host;
    proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
}